*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav
{
    height: 70px;
    width: 100%;
    background-color: black;
}
.bennar
{
    margin-top: 20PX;
    width: 100%;
}
.bennarContainar
{
    height: 400px;
    width: 80%;
    margin: auto;
    background-color: lightpink;
}
.bennarContainar img
{
    height: 400px;
    width: 100%;
}
.gallery
{
    margin-top: 20px;
    width: 100%;
}
.galleryContainar
{
    height: 550px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box
{
    height: 250px;
    width: 20%;
    background-color: gold;
}
.box img
{
    height: 250px;
    width: 100%;
}
.footer
{
    margin-top: 5%;
    height: 68px;
    width: 100%;
    background-color: black;
}